{% extends "base.html" %}
{% block title %}Profile{% endblock title %}

{% block content %}
 





<main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include "components/topic.html" %}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              {% if profile.pic %}
              <img src="{{ profile.pic.url }}" alt="Hello's profile picture" />
              
              {% else %}
              <img src="{{ profile.username }}" alt="Hello's profile picture" />

         
          {% endif %}
            </div>
          </div>
          <div class="profile__info">
           
            
            <h3>{{profile.username}}</h3>
            <p>@{{profile.username}}</p>
            
            
            {% if request.user.id == profile.id %}
            
            
            <a href="{% url "edit-profile" profile.id %}" class="btn btn--main btn--pill">Edit Profile</a>
            
            {% endif %}
            
          </div>
          <div class="profile__about">
            {% if profile.bio %}
            <h3>About</h3>
            <p>
              {{profile.bio}}
            </p>
            {% endif %}
          </div>
        </div>

        <div class="roomList__header">
          <div>
            {% comment %} <h2>The rooms this profile associated to </a> {% endcomment %}
            </h2>
          </div>
        </div>
        {% if rooms %}
        <h2 >The rooms this profile has </a><br><br>
        {% include "components/room_layout.html" %}
        {% endif %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include "components/activity.html" %}
      <!-- Activities End -->
    </div>
  </main>

{% endblock content %}






