{% comment %} <h3>Recent Activity</h3>

<small><a href={% url "profile" msg.user.id %}>@{{msg.user}}</a> {{msg.created|timesince}} ago</small>
replies to 
<small>{{msg.room}}</small><br>
<p>{{msg}}</p>
{% if request.user == msg.user %}
<a href="{% url 'delete_message' msg.id %}">Delete message</a>

{% endif %}
<hr> 


{% endcomment %}


<div class="activities">
    <div class="activities__header">
        <h2>Recent Activities</h2>
    </div>
    {% for msg in recent_messages %}
    <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
          <a href="{% url "profile" msg.user.id %}" class="roomListRoom__author">
              <div class="avatar avatar--small">
                  <img src="{{msg.user.pic.url}}" alt="{{msg.user.username}}" />
                </div>
                <p>
                    @{{msg.user}}
                    <span>{{msg.created|timesince}} ago</span>
                </p>
            </a>
            <div class="roomListRoom__actions">
                    {% if request.user == msg.user %}
                        <a href="{% url 'delete_message' msg.id %}">

                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <title>remove</title>
                                <path
                                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                                ></path>
                            </svg>
                        </a>
                        {% endif %}
                    </div>
        </div>
        <div class="activities__boxContent">
            <p>replied to post “<a href="{% url "room" msg.room.id %}">{{msg.room.name}}</a>”</p>
            <div class="activities__boxRoomContent">
                {{msg}}
            </div>
        </div>
    </div>
    
    
    {% endfor %} 
</div>